<div class="container" style="background-color: #9cdedd">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-center">
                <h3>PROPHET'S SPECIAL VISITOR (PSV) APPLICATION FORM 6-9 NOVEMBER 2015</h3>
            </div>
            <div class="col-sm-12 text-center">
                <h5>Dear Child of God, Please fill out this questionnaire in detail and click on the send button at the
                    bottom of the page to submit the form. Incomplete forms will delay your application process so
                    please kindly make sure to answer ALL questions in the form. Please DO NOT make any TRAVEL
                    ARRANGEMENTS until the OUTCOME of your APPLICATION has been FINALIZED.</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" name="form" novalidate>

                <div class="form-group">
                    <label for="fullName" class="control-label col-sm-2">Full Name *</label>

                    <div class="col-sm-10">
                        <input ng-model="visitor.name" type="text" class="form-control" id="fullName" name="fullName"
                               placeholder="What is your full name">

                        <div ng-show="form.$submitted || form.name.$touched" class="text-right"
                             style="color: red; font-style: italic;">
                            <div ng-show="form.name.$error.required">Please fill up your biographic information</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label">
                        <label for="age" class="col-sm-2">Gender *</label>
                    </div>

                    <div class=" col-sm-10">
                        <label>
                            <input  ng-model="visitor.gender" type="radio" name="gender" value="male"> Male
                            <input  ng-model="visitor.gender" type="radio" name="gender" value="female"> Female
                        </label>

                        <div ng-show="form.$submitted" class="text-right" style="color: red; font-style: italic;">
                            <div ng-show="form.gender.$error.required">Please select your gender</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="age" class="control-label col-sm-2">Age *</label>

                    <div class="col-sm-10">
                        <input ng-model="visitor.age" type="text" class="form-control" id="age" name="age" placeholder="What is your Age">

                        <div ng-show="form.$submitted || form.age.$touched" class="text-right" style="color: red; font-style: italic;">
                            <div ng-show="form.age.$error.required">Please fill up your age</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nationality" class="control-label col-sm-2">Nationality *</label>

                    <div class="col-sm-10">
                        <input ng-model="visitor.nationality" type="text" class="form-control" id="nationality" name="nationality" placeholder="What is your Nationality">

                        <div ng-show="form.$submitted || form.nationality.$touched" class="text-right" style="color: red; font-style: italic;">
                            <div ng-show="form.nationality.$error.required">Please fill up your nationality</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passport" class="control-label col-sm-2">Passport *</label>

                    <div class="col-sm-10">
                        <input ng-model="visitor.passport" type="text" class="form-control" id="passport"
                               name="passport" placeholder="What is your passport number">

                        <div ng-show="form.$submitted || form.passport.$touched" class="text-right"
                             style="color: red; font-style: italic;">
                            <div ng-show="form.passport.$error.required">Please fill up your passport number</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="control-label col-sm-2">Phone *</label>

                    <div class="col-sm-10">
                        <input ng-model="visitor.phone" type="tel" class="form-control" id="phone" name="phone"
                               placeholder="Please include your country Code">

                        <div ng-show="form.$submitted || form.phone.$touched" class="text-right"
                             style="color: red; font-style: italic;">
                            <div ng-show="form.phone.$error.required">Please fill up your phone number</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label col-sm-2">Email *</label>

                    <div class="col-sm-10">
                        <input ng-model="visitor.email" type="email" class="form-control" id="email" name="email" placeholder="What is your email id?">

                        <div ng-show="form.$submitted || form.email.$touched" class="text-right" style="color: red; font-style: italic;">
                            <div ng-show="form.email.$error.required">Please fill up your email id</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="occupation" class="control-label col-sm-2">Occupation *</label>

                    <div class="col-sm-10">
                        <input ng-model="visitor.occupation" type="text" class="form-control" id="occupation" name="occupation" placeholder="What is your occupation?">

                        <div ng-show="form.$submitted || form.occupation.$touched" class="text-right" style="color: red; font-style: italic;">
                            <div ng-show="form.occupation.$error.required">Please fill up your occupation</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 ">
                        <label class="col-sm-10">If your application is successful will you need visa letters to assist you in your visa application? *</label>

                        <div class="col-sm-12">
                            <label>
                                <input ng-model="visitor.visaLetter" type="radio" name="visaLetter" value="true"> Yes &nbsp
                                <input ng-model="visitor.visaLetter" type="radio" name="visaLetter" value="false"> No
                            </label>

                            <div ng-show="form.$submitted" class="text-right" style="color: red; font-style: italic;">
                                <div ng-show="form.visaLetter.$error.required">Please select an option</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <label class="col-sm-10">State Reason for your visit *</label>

                        <div class="col-sm-12">
                            <input ng-model="visitor.reason" type="radio" name="reason" value="Deliverance"> Deliverance<br/>
                            <input ng-model="visitor.reason" type="radio" name="reason" value="Healing"> Healing<br/>
                            <input ng-model="visitor.reason" type="radio" name="reason" value="Breakthrough"> Breakthrough<br/>
                            <input ng-model="visitor.reason" type="radio" name="reason" value="Finances"> Finances<br/>
                            <input ng-model="visitor.reason" type="radio" name="reason" value="Marriage"> Marriage<br/>
                            <input ng-model="visitor.reason" type="radio" name="reason" value="Fruit of the Womb"> Fruit of the Womb

                            <div ng-show="form.$submitted" class="text-right" style="color: red; font-style: italic;">
                                <div ng-show="form.reason.$error.required">Please select an option</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <label class="col-sm-10">If sick please submit certification from your doctor of your fitness to travel *</label>

                        <div class="col-sm-12">
                            <input ng-model="visitor.medicalCertificate" type="radio" name="medicalCertificate" value="I am not sick"> I am not sick<br/>
                            <input ng-model="visitor.medicalCertificate" type="radio" name="medicalCertificate" value="I will send my medical certificate via email"> I will send my medical certificate via email

                            <div ng-show="form.$submitted" class="text-right"
                                 style="color: red; font-style: italic;">
                                <div ng-show="form.medicalCertificate.$error.required">Please select an option</div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Medical condition *</label>

                    <div class="col-sm-10">
                        <textarea ng-model="visitor.medicalNote" class="form-control" rows="5" placeholder="Please specify your Medical condition"></textarea>

                        <div ng-show="form.$submitted || form.medicalNote.$touched" class="text-right" style="color: red; font-style: italic;">
                            <div ng-show="form.medicalNote.$error.required">Please specify</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Medicine *</label>

                    <div class="col-sm-10">
                        <textarea ng-model="visitor.medicineNote" class="form-control" rows="5" placeholder="Please specify the Medicine that you are taking"></textarea>

                        <div ng-show="form.$submitted || form.medicineNote.$touched" class="text-right" style="color: red; font-style: italic;">
                            <div ng-show="form.medicineNote.$error.required">Please specify</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 ">
                        <label class="col-sm-10">Choose the one that best describes you *</label>

                        <div class="col-sm-12">
                            <input ng-model="visitor.healthStatus" type="radio" name="healthStatus" value="I am limping"> I am limping<br/>
                            <input ng-model="visitor.healthStatus" type="radio" name="healthStatus" value="I am using a crutch"> I am using a crutch<br/>
                            <input ng-model="visitor.healthStatus" type="radio" name="healthStatus" value="I am using a wheelchair"> I am using a wheelchair<br/>
                            <input ng-model="visitor.healthStatus" type="radio" name="healthStatus" value="I am paralysed"> I am paralysed<br/>
                            <input ng-model="visitor.healthStatus" type="radio" name="healthStatus" value="I am blind"> I am blind<br/>
                            <input ng-model="visitor.healthStatus" type="radio" name="healthStatus" value="Mental disorder"> Mental disorder<br/>
                            <input ng-model="visitor.healthStatus" type="radio" name="healthStatus" value="None of the above"> None of the above

                            <div ng-show="form.$submitted || form.healthStatus.$touched" class="text-right"
                                 style="color: red; font-style: italic;">
                                <div ng-show="form.healthStatus.$error.required">Please select an option</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <label class="col-sm-10">For people outside South Africa- means of transport used (air, private
                            vehicle or bus) *</label>

                        <div class=" col-sm-12" style="font-size: x-small;">
                            ARRIVAL TIME - AIRPORT OR BOSMAN (FRIDAY MORNING), DEPARTURE TIME - AIRPORT OR BOSMAN (MONDAY MORNING)
                        </div>
                        <div class="col-sm-12">
                            <input ng-model="visitor.transport" type="radio" name="transport" value="Road"> Road<br/>
                            <input ng-model="visitor.transport" type="radio" name="transport" value="Air"> Air<br/>
                            <input ng-model="visitor.transport" type="radio" name="transport" value="Private Transport"> Private Transport<br/>
                            <input ng-model="visitor.transport" type="radio" name="transport" value="Insight Bus"> Insight Bus

                            <div ng-show="form.$submitted || form.transport.$touched" class="text-right" style="color: red; font-style: italic;">
                                <div ng-show="form.transport.$error.required">Please select an option</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Not compulsory-->
                <div class="form-group">
                    <label class="control-label col-sm-2">Note</label>

                    <div class="col-sm-10">
                        <textarea ng-model="visitor.comment" class="form-control" rows="5" placeholder="Any comments"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 ">
                        <label class="col-sm-10">Accommodation Type/ Registration Package *</label>

                        <div class="col-sm-12">
                            <input ng-model="visitor.accommodation" type="radio" name="accommodation" value="R5000.00"> R5000.00 South African Rand’s OR 500 USD(Each) Per Person for those who will be accommodated in the Prophetic Channel guest house (for Superior rooms SHARING two people);<br/>
                            <input ng-model="visitor.accommodation" type="radio" name="accommodation" value="R6000.00"> R6000.00 South African Rand's or 100 USD for an adult and a child under 13 Years old (this is still a sharing option meaning you will still share your room with another adult)<br/>
                            <input ng-model="visitor.accommodation" type="radio" name="accommodation" value="R8000.00"> R8000.00 South African Rand’s OR 800 USD(Each) Per Person for those who will be accommodated in the Prophetic Channel guest house (for VIP room NOT SHARING).

                            <div ng-show="form.$submitted" class="text-right"
                                 style="color: red; font-style: italic;">
                                <div ng-show="form.accommodation.$error.required">Please select an option</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 ">
                        <label class=" col-sm-10">INDEMNITY AGREEMENT *</label>

                        <div class=" col-sm-12" style="font-size: x-small; font-style: italic">
                            I, the attendee of the Enlightened Christian Gathering’s special visitors’ program, hereby
                            unconditionally, indemnify Enlightened Christian Gathering (ECG) Church and all its members
                            in respect to any loss, costs and damages that may be incurred by me or those under my care
                            during the period I will be in the ECG premises. By registering for the special visitors’
                            program through payment and signing this indemnity form, I acknowledge and agree that I am
                            voluntarily attending the program at my own risk and therefore, I further indemnify the ECG
                            in respect to all claims which may be made against the ministry/church, by myself or by
                            third parties due to any unfortunate event that may take place during the period of my visit.
                        </div>

                        <div class="col-sm-12">
                            <input ng-model="visitor.agreement" type="checkbox" name="agreement" value="yes" required> I agree

                            <div ng-show="form.$submitted" class="text-right"
                                 style="color: red; font-style: italic;">
                                <div ng-show="form.agreement.$error.required">Please read the agreement</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default" ng-click="submit(form)">Create</button>
                        <!--<button type="submit" class="btn btn-default" ng-click="submit(form)" ng-disabled="form.$invalid">Create</button>-->
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
